export APP_RAG_EMBEDDING_OPENAI_API_KEY='your_api_key_here'
export APP_RAG_EMBEDDING_PROVIDER='openai-compatible'
export APP_RAG_EMBEDDING_MODEL='text-embedding-v3'
export APP_RAG_EMBEDDING_OPENAI_BASE_URL='https://dashscope.aliyuncs.com/compatible-mode/v1'
export APP_RAG_EMBEDDING_FALLBACK_TO_LOCAL_HASH='false'
export APP_RAG_ALLOW_LEXICAL_FALLBACK='false'
